@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "Gilroy-Bold";
    src: url("/fonts/Gilroy-Bold.ttf") format("ttf");
  }

  @font-face {
    font-family: "Gilroy-Medium";
    src: url("/fonts/Gilroy-Medium.ttf") format("ttf");
  }

  @font-face {
    font-family: "Gilroy-Regular";
    src: url("/fonts/Gilroy-Regular.ttf") format("ttf");
  }
}

@theme {
  --color-primary: #21558a;
  --color-primary-bg: #ebeff1;

  --font-league-spartan: "League Spartan", sans-serif;
  --font-gilroy-regular: "Gilroy-Regular", poppins;
  --font-gilroy-medium: "Gilroy-Medium", poppins;
  --font-gilroy-bold: "Gilroy-Bold", poppins;
  --font-nunito-sans: "Nunito Sans", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.react-calendar {
  width: 500px;
}

.react-calendar__navigation {
  margin-bottom: 0px;
}

.react-calendar__viewContainer {
  background-color: #f4f9ff;
}
